<h2 style="text-align: center; color: teal">Edit Reivew</h2>
<div class="row">
  <form action="/reviews/{{review._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" value="{{review.title}}">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          {{#select review.status}}
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-feild">
        <div>Review: </div>
        <textarea name="body" id="body">{{review.body}}</textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn">
      <a href="/dashboard" class="btn red">Cancel</a>
    </div>
  </form>
</div>